{% extends 'spotify/art_cat_base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <div class="container">
                  <h2><center>Newest additions:</h2>
              
                  {% for new_artist in latest_artists %}
                    <div class="row">
                      <div class="col-sm-3 " style="border-radius: 15%;">
                        <a href="https://open.spotify.com/artist/{{ new_artist.art_id }}">
                        {{ new_artist.art_name }}
                      </div></a>
                      <div class="col-sm-3">
                        {{ new_artist.genre }}
                      </div>
                      <div class="col-sm-3">
                        {{ new_artist.app_record_date }}
                      </div>
                    
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    
        <div class="col-6">
            <div class="row average-row">
                <div class="col">
                  <h4>Songs Per Day</h4>
                  <div class="row">
                    <div class="col custom-width">
                      <div class="average-box">
                        <div class="average-label">Past 24 hrs:</div>
                        <div>{{ yesterday }}</div>
                      </div>
                    </div>
                    <div class="col custom-width">
                      <div class="average-box">
                        <div class="average-label">Total Average:</div>
                        <div>{{ average }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    

</div>



{% endblock %}