<aside>
    <h3>Fred Lambuth's Spotify Data </h3>
    <a href="{{ url_for('spotify.yesterday')  }}">
      <i class="fa fa-clock" aria-hidden="true"></i>
      The Last 24 Hrs
    </a>

    <a href="{{ url_for('spotify.latest_daily_tracks')  }}">
      <i class="fa fa-microphone" aria-hidden="true"></i>
      Top Tracks
    </a>

    <a href="{{ url_for('spotify.latest_daily_artists')  }}">
      <i class="fa fa-address-book" aria-hidden="true"></i>
      Top Artists
    </a>

    <a href="{{ url_for('spotify.spotify_landing_page')  }}">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    Recent-ish
    </a>

</aside>