{% extends 'base.html' %}

{% block content %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/spotify.css') }}">

<title>Landing Page for Spotify Stuff</title>

{% include 'spotify/spotify_sidebar.html' %}

<style>
    .outer-row {
        background-color: #1a865d;
        border-radius: 2%;
        border: 2px solid #073a33;
    }

    .whitie {
        color: aliceblue;
    }

    .row:first-child {
display: flex;
flex-direction: column;
}
</style>

<br>
<div class="container" style="max-width: 59%;">
    <div class="row align-items-center">
        <h2 class="white">Welcome to the Spotify section of the website!</h2>
        <p style="text-align: center;">Everyday I collect my listening data from Spotify. The 'Spotify' section is where I keep my records of what I was listening to on what day. On the sidebar you can find different timeframes of what I was listening to.</p>
    </div>


    <div class="row align-items-center">
        <div class="col-6">
            <h2>Average Song Count per Day:</h2>
        </div>
        <div class="col-6">
            <h2 class="white-pill" style="text-align: center;">{{ daily_rp_avg }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="jumbotron" style="color: #073a33;">
                <div class="container">
                  <h2>Newest additions:</h2>
              
                  {% for new_artist in latest_artists %}
                    <div class="row">
                      <div class="col-sm-3 " style="border-radius: 15%;">
                        <a href="https://open.spotify.com/artist/{{ new_artist.art_id }}">
                        {{ new_artist.art_name }}
                      </div></a>
                      <div class="col-sm-3">
                        {{ new_artist.genre }}{% if new_artist.genre2 %}, {{ new_artist.genre2 }}{% endif %}
                      </div>
                    
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">  
        <div class="col-6">
            <h2>Most Played Artists: </h2>
            <div class="grid-container">
                {% for art in top_5_arts %}
                    <div class="grid-item">{{ art[0] }} <span class="whitie">{{ art[1] }}</span></div>
                {% endfor %}
            </div>
        </div>

        <div class="col-6">
            <h2>Most Played Tracks: </h2>
            <div class="grid-container">
            {% for track in top_5_tracks %}
                <div class="grid-item">{{ track[0] }} <span class="whitie">{{ track[1] }}</span></div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>



{% endblock %}
