<aside>
    <h3>Fred Lambuth's Spotify Data </h3>
    <a href="{{ url_for('main.recent_stuff')  }}">
      <i class="fa fa-clock" aria-hidden="true"></i>
      The Last 24 Hrs
    </a>

    <a href="{{ url_for('main.daily_tracks_stuff')  }}">
      <i class="fa fa-microphone" aria-hidden="true"></i>
      Top Tracks
    </a>

    <a href="{{ url_for('main.daily_artists_stuff')  }}">
      <i class="fa fa-microphone" aria-hidden="true"></i>
      Top Artists
    </a>

    <a href="javascript:void(0)">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    Recent-ish
    </a>

    <a href="javascript:void(0)">
        <i class="fa fa-archive" aria-hidden="true"></i>
    Archives
    </a>

</aside>