{% extends 'base.html' %}

{% block content %}

<title>Blog Post: {{ post.title }}</title>

<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/blog.css') }}">

<body class="w3-black">

<div class="w3-container">
        
    {% include 'blog/blog_header.html' %}

    <hr>


    <div class="w3-row">
        <div class="w3-col-4">
            <img src="{{url_for('static', filename='img/blog_pics/pic_' + post.id|string + '.jpg')}}" width="360" title="Rando off the street.">
        </div>
        <div class="w3-col-6"> <!-- Adjust the column width as needed -->
            <section class="text-end"> <!-- Use text-end class for right alignment -->
                <h4><b>{{ post.title }}</b></h4>
                <small class="date-pill">{{ post.post_date }}</small>
            </section>
        </div>
    </div>
    

    <hr>

    <p>{% autoescape false %} {{ post.content | replace('\n', '<br>') }} {% endautoescape %}</p>


    <hr>


{% if next_post %}
      <span>
          <a class='next-post' href="{{url_for('blog.blog_single', id=next_post.id ) }}">
              {{ 'Next' }}
          </a>
      </span>
{% endif %}
||
{% if prev_post %}
      <span>
          <a class='prev-post' href="{{url_for('blog.blog_single', id=prev_post.id ) }}">
              {{ 'Previous' }}
          </a>
      </span>
{% endif %}
</div>
<br>
</div>


{% endblock %}