.white-pill {
  background-color: white;
  color: #333; /* You can adjust the text color as needed */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 20px; /* Adjust border radius as needed */
  display: inline-block; /* Ensures the pill only takes up as much width as necessary */
  margin-bottom: 5px; /* Add margin to separate pills */
}

.pop {
  background-color: rgb(253, 136, 224);
}
.electronic {
  background-color: rgb(91, 233, 243);
}
.rock {
  background-color: rgb(214, 75, 11);
}
.punk {
  background-color: rgb(158, 247, 85);
}
.funk {
  background-color: rgb(92, 117, 75);
}
.indie {
  background-color: rgb(123, 85, 145);
}
.old {
  background-color: rgb(189, 184, 118);
}
.country {
  background-color: rgb(214, 214, 205);
}